#FOR LLM
OPENAI_API_KEY = OPENAI_API_KEY_HERE

#FOR TWILIO - calls
TWILIO_ACCOUNT_SID=TWILIO_ACCOUNT_SID_HERE
TWILIO_AUTH_TOKEN=TWILIO_AUTH_TOKEN_HERE
TWILIO_PHONE_NUMBER=TWILIO_PHONE_NUMBER_HERE
WHERE_TO_CALL = WHERE_TO_CALL_HERE # THIS IS FOR TESTING PURPOSES -> TWILIO WILL CALL HERE

# FOR SENDIN EMAIL (need to use gmail!)
# Gmail
EMAIL_HOST_GMAIL=smtp.gmail.com
IMAP_HOST_GMAIL=imap.gmail.com
EMAIL_ADDRESS_GMAIL=EMAIL_ADDRESS_GMAIL_HERE
EMAIL_PASSWORD_GMAIL=EMAIL_PASSWORD_GMAIL_HERE # IMPORTANT, THIS IS APP PASSWORD, NOT YOUR NORMAL PASSWORD
# AND FOR GETTING THIS APP PASSWORD, YOU NEED TO ENABLE 2-STEP VERIFICATION IN YOUR GOOGLE ACCOUNT SETTINGS!

# common ports for email
EMAIL_PORT=587
IMAP_PORT=993

# FOR DATABASE
DB_HOST=localhost
DB_PORT=5432
DB_NAME=DB_NAME_HERE   
DB_USER=DB_USER_HERE
DB_PASSWORD=DB_PASSWORD_HERE
DATABASE_URL=postgresql://DB_USER_HERE:DB_PASSWORD_HERE@localhost:5432/DB_NAME_HERE

# Server configuration
BUSINESS_LOGIC_SERVER=8000 # FastAPI server 
GRAPHQL_SERVER=4000 # GraphQL server (for frontend -> serving news articles etc.)

# INFORMATIONS FOR TESTING EMAILS AND PHONE - Only for testing purposes!
CONTACT_PERSON_NAME="TEST_NAME_HERE" # THIS WILL BE USED IN WHEN ENRICHING ARTICLE AFTER INTERVIEW
CONTACT_PERSON_EMAIL="TEST_EMAIL_HERE" # WHERE TO SEND TEST EMAILS (you can also use CONTACT_EMAIL_LIST)
# Listamuoto: pilkulla eroteltu, välilyönnit sallittu (esim. "a@example.com, b@example.com")
CONTACT_EMAIL_LIST="here.you.can@emai.fi, list.emails@email.fi, for.testing@email.fi"
CONTACT_PERSON_PHONE="+358401111111" # WHERE TO CALL FOR TESTING PURPOSES
# Listamuoto: pilkulla eroteltu, välilyönnit sallittu (esim. "+358401111111, +358402222222")
CONTACT_PHONE_LIST="+358123456, +358789012"

# FOR MAKING PHONE CALLS
# WE NEED LOCAL TUNNEL FOR THIS (THIS IS OUR BACKEND SERVER) WHEN TESTING LOCALLY, BECAUSE YOU NEED PUBLIC URL FOR TWILIO TO CALL BACK
# THIS IS WHY YOU NEED TO INSTALL LOCALTUNNEL (npm install -g localtunnel) AND RUN IT IN YOUR TERMINAL WHEN TESTING LOCALLY
PHONE_SERVER_URL= https://newsroomapi.loca.lt

# FOR PIXABAY IMAGES
# WE USE PIXABAY TO GET IMAGES FOR NEWS ARTICLES AS FALLBACK IF RUNWARE DOES NOT RETURN ANY IMAGES
PIXABAY_API_KEY= YOUR_PIXABAY_API_KEY_HERE

# FOR RUNWARE API - AI IMAGES  - THIS IS OUR MAIN IMAGE SOURCE
RUNWARE_API_KEY = YOUR_RUNWARE_API_KEY_HERE

# THIS DETERM WHERE IMAGES ARE STORED LOCALLY... MAYBE IN FUTURE THIS COULD BE SOME CLOUD STORAGE INSTEAD
# THIS MEANS THAT IMAGES ARE STORED IN THIS FOLDER IN YOUR COMPUTER OR IN SERVER WHERE THIS APPLICATION IS RUNNING
STATIC_FILE_PATH=C:/CHANGE/THIS/PATH/TO/YOUR/STATIC/FILES/

#LOCALTUNNEL
# lt --port 8000 --subdomain newsroomapi
LOCALTUNNEL_URL=https://newsroomapi.loca.lt
